<div class="container mb-3 mt-3">
  <div class="d-flex justify-content-around">
    <div class="col">
      <button (click)="showStatistic()" class="btn btn-primary">
       {{ isShowStatistic ? 'Hide statistics' : 'Show statistics' }}
      </button>
    </div>
    <div class="offset-2 col">
      <a target="_blank" routerLink="/options" class="btn btn-primary">Settings</a>
    </div>
  </div>
</div>

<div
  [ngClass]="{'animate': isShowStatistic}"
  *ngIf="isShowStatistic">
  <table class="table">
    <thead>
    <th>Site</th>
    <th>Time(hh:mm:ss)</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of statistic">
      <td>{{item.url}}</td>
      <td>{{item.duration}}</td>
    </tr>
    </tbody>
  </table>
</div>
