<div class="popup">
  <header class="header">
    <a target="_blank" routerLink="/options" class="text-decoration-none">All Settings
      <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="./statistic">
          Statistic <i class="bi bi-bar-chart-fill"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./blockedSites" routerLinkActive="active">
          Block sites <i class="bi bi-stop-circle-fill"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
