.animate {
  animation-duration: 1.5s;
  animation-name: fadeIn;
  width: 100%;
}

.table th {
  background-color: #3367D6;
  color: white;
  max-width: 195px;
}

.table {
  margin-top: 25px;
  max-width: 95%;
  tr td {
    max-width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}
